/* Page colours

Dark blue: #354458
Orange :   #EB7260
Green      #29ABA4
Light grey: #f9f9f9

*/


/* Set page overall basic styles */
body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  color: #354458;
  line-height: 1.35;
}

a {
  text-decoration: none;
  color: red;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* HELP - PART 2 */
.lead {
  font-size: 20px;
}

h1 {
  font-size: 40px;
  color: #29ABA4;
}

.main-content {
  width: 960px;
  margin: 0 auto;
}

/* HELP - PART 3 */
/*Float and clearfix*/
.article-image {
  width: 25%;
  float: left;
  margin-right: 15px;
}

.article {
  margin: 30px 0;
  padding: 30px;
  border: 3px solid #29ABA4;

  /* extra styles */
  background-color: #f9f9f9;
}

.article h2 {
  color: #29ABA4;
  margin-top: 0;
}

/* HELP - PART 4 */
#page-header {
  background-color: #EB7260;
}

a.nav-item {
  padding: 15px 20px;
  display: inline-block;

  /* Extra styles */
  color: #354458;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* HELP - Part 5 */

/*  Box model
box-sizing: content-box; content is the width specified
box-sizing: border-box; include border + padding
*/

.social-media {
  box-sizing: border-box;
  width: 350px;

  /* Extra styles */
  margin: 0 auto;
  border: 2px solid #29ABA4;
  text-align: center;
  padding: 20px 30px;
  font-weight: bold;
  color: #ffffff;
}

footer {
 background-color: #354458;
 margin-top: 30px;
 padding: 30px;
}

.social-media a {
  color: #77C5F7;
  text-decoration: none;
}

.social-media a:hover {
  color: #29ABA4;
  text-decoration: underline;
}
